# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Environment files
.env

# Logs
*.log

# Docker
*.tar